In [2]:
import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt
import seaborn as sns

## Now, we will use our preprocess data csv file
**__________________________________________**

### Read in the preprocessed csv file

In [3]:
df = pd.read_csv('Final_df')

In [4]:
df.head()

,Lot Frontage,Lot Area,Overall Qual,Overall Cond,Year Built,Year Remod/Add,Mas Vnr Area,BsmtFin SF 1,BsmtFin SF 2,Bsmt Unf SF,...,Sale Type_ConLw,Sale Type_New,Sale Type_Oth,Sale Type_VWD,Sale Type_WD,Sale Condition_AdjLand,Sale Condition_Alloca,Sale Condition_Family,Sale Condition_Normal,Sale Condition_Partial
0,141.0,31770,6,5,1960,1960,112.0,639.0,0.0,441.0,...,0,0,0,0,1,0,0,0,1,0
1,80.0,11622,5,6,1961,1961,0.0,468.0,144.0,270.0,...,0,0,0,0,1,0,0,0,1,0
2,81.0,14267,6,6,1958,1958,108.0,923.0,0.0,406.0,...,0,0,0,0,1,0,0,0,1,0
3,93.0,11160,7,5,1968,1968,0.0,1065.0,0.0,1045.0,...,0,0,0,0,1,0,0,0,1,0
4,74.0,13830,5,5,1997,1998,0.0,791.0,0.0,137.0,...,0,0,0,0,1,0,0,0,1,0

In [5]:
X = df.drop('SalePrice',axis =1)
y = df['SalePrice']

In [6]:
from sklearn.model_selection import train_test_split

In [8]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.1,random_state = 101)

In [9]:
from sklearn.preprocessing import StandardScaler

In [10]:
scaler = StandardScaler()

In [11]:
scaled_X_train = scaler.fit_transform(X_train)

In [12]:
scaled_X_test = scaler.transform(X_test)

In [14]:
from sklearn.linear_model import ElasticNet

In [20]:
base_elastic_model = ElasticNet(max_iter=1000000)

In [22]:
param_grid = {'alpha':[.1,1,5,10,100],'l1_ratio':[.1,.7,.99,1]}

In [23]:
from sklearn.model_selection import GridSearchCV

In [24]:
grid_model = GridSearchCV(base_elastic_model,param_grid = param_grid,scoring = 'neg_mean_squared_error',cv = 5,verbose =1)

In [25]:
grid_model.fit(scaled_X_train,y_train)

Fitting 5 folds for each of 20 candidates, totalling 100 fits

GridSearchCV(cv=5, estimator=ElasticNet(max_iter=1000000),
             param_grid={'alpha': [0.1, 1, 5, 10, 100],
                         'l1_ratio': [0.1, 0.7, 0.99, 1]},
             scoring='neg_mean_squared_error', verbose=1)

In [26]:
grid_model.best_params_

{'alpha': 100, 'l1_ratio': 1}

In [27]:
y_pred = grid_model.predict(scaled_X_test)

In [28]:
from sklearn.metrics import mean_absolute_error

In [29]:
MAE = mean_absolute_error(y_test,y_pred)

In [30]:
MAE

14195.35490056217

In [31]:
from sklearn.metrics import mean_squared_error

In [32]:
RMSE = np.sqrt(mean_squared_error(y_test,y_pred))

In [33]:
RMSE

20558.508566893164

In [36]:
from sklearn.metrics import r2_score

In [37]:
r2 = r2_score(y_test,y_pred)

In [38]:
r2

0.9189715351102126

In [39]:
np.mean(df['SalePrice'])

180815.53743589742

In [40]:
# not too bad for our model to predict SalePrice ....
### it is just 10% lower from the average value for SalePrice
#### R2 value is close to 1 and it is also indicating that our model is doing good