In [8]:
with open('One.txt') as mytext:
    word_one = mytext.read().lower().split()
    uni_words_one = set(word_one)

In [11]:
uni_words_one

{'a',
 'about',
 'animals',
 'are',
 'canine',
 'dogs',
 'furry',
 'is',
 'our',
 'pets',
 'story',
 'this'}

In [12]:
with open('Two.txt') as mytext:
    word_two = mytext.read().lower().split()
    uni_words_two = set(word_two)

In [13]:
uni_words_two

{'a',
 'about',
 'catching',
 'fun',
 'is',
 'popular',
 'sport',
 'story',
 'surfing',
 'this',
 'water',
 'waves'}

In [14]:
all_uni_words = set()
all_uni_words.update(uni_words_one)

In [15]:
all_uni_words.update(uni_words_two)

In [16]:
all_uni_words

{'a',
 'about',
 'animals',
 'are',
 'canine',
 'catching',
 'dogs',
 'fun',
 'furry',
 'is',
 'our',
 'pets',
 'popular',
 'sport',
 'story',
 'surfing',
 'this',
 'water',
 'waves'}

In [18]:
full_vocab = dict()
i = 0 

for word in all_uni_words:
    full_vocab[word] = i
    i = i +1

In [19]:
full_vocab

{'story': 0,
 'animals': 1,
 'our': 2,
 'popular': 3,
 'furry': 4,
 'catching': 5,
 'are': 6,
 'dogs': 7,
 'sport': 8,
 'fun': 9,
 'a': 10,
 'pets': 11,
 'water': 12,
 'canine': 13,
 'about': 14,
 'is': 15,
 'this': 16,
 'surfing': 17,
 'waves': 18}

In [20]:
one_freq = [0]*len(full_vocab)
two_freq = [0]*len(full_vocab)
all_words = ['']*len(full_vocab)

In [21]:
one_freq

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [22]:
with open('One.txt') as f:
    one_text = f.read().lower().split()

In [23]:
for word in one_text:
    word_ind = full_vocab[word]
    one_freq[word_ind] += 1

In [24]:
one_freq

[1, 1, 1, 0, 1, 0, 1, 2, 0, 0, 1, 1, 0, 1, 1, 1, 1, 0, 0]

In [26]:
with open('Two.txt') as f:
    two_text = f.read().lower().split()

In [27]:
for word in two_text:
    word_ind = full_vocab[word]
    two_freq[word_ind] += 1

In [28]:
two_freq

[1, 0, 0, 1, 0, 1, 0, 0, 1, 1, 1, 0, 1, 0, 1, 3, 1, 2, 1]

In [30]:
for word in full_vocab:
    word_ind = full_vocab[word]
    all_words[word_ind] = word

In [31]:
all_words

['story',
 'animals',
 'our',
 'popular',
 'furry',
 'catching',
 'are',
 'dogs',
 'sport',
 'fun',
 'a',
 'pets',
 'water',
 'canine',
 'about',
 'is',
 'this',
 'surfing',
 'waves']

In [34]:
import pandas as pd
bow = pd.DataFrame(data = [one_freq,two_freq],columns = all_words)

In [35]:
bow

,story,animals,our,popular,furry,catching,are,dogs,sport,fun,a,pets,water,canine,about,is,this,surfing,waves
0,1,1,1,0,1,0,1,2,0,0,1,1,0,1,1,1,1,0,0
1,1,0,0,1,0,1,0,0,1,1,1,0,1,0,1,3,1,2,1