In [1]:
text = ['This is a line','This is another line','Completely different line']

In [2]:
from sklearn.feature_extraction.text import CountVectorizer

In [3]:
cv = CountVectorizer()

In [5]:
sparse_matrix = cv.fit_transform(text)

In [6]:
sparse_matrix.todense()

matrix([[0, 0, 0, 1, 1, 1],
        [1, 0, 0, 1, 1, 1],
        [0, 1, 1, 0, 1, 0]])

In [7]:
from sklearn.feature_extraction.text import TfidfTransformer

In [8]:
tfidf = TfidfTransformer()

In [10]:
result =tfidf.fit_transform(sparse_matrix)

In [13]:
import pandas as pd
pd.DataFrame(result.todense())

          0         1         2         3         4         5
0  0.000000  0.000000  0.000000  0.619805  0.481334  0.619805
1  0.631745  0.000000  0.000000  0.480458  0.373119  0.480458
2  0.000000  0.652491  0.652491  0.000000  0.385372  0.000000

In [14]:
### We can direcly do this using TfidfVectorizer